@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Marck+Script&family=Rubik+Iso&family=Shantell+Sans:wght@300&family=Tilt+Prism&display=swap");

.cool {
  font-family: "Assistant", sans-serif;
}
.mark-script {
  font-family: "Marck Script", cursive;
}

.prism {
  font-family: "Tilt Prism", cursive;
}
.shantell {
  font-family: "Shantell Sans", cursive;
}
.rubik {
  font-family: "Rubik Iso", cursive;
}
body {
  position: "fixed";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* .body {
  display: grid;
  height: 100vh;
} */

.taskBar {
  grid-area: "taskBar";
  margin: auto;
  place-items: center;
  /* background-color: #202023; */
}
